.about_navbar {
  background: transparent;
  transition: 0.5s;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  animation: fadeout 1s;
  -webkit-animation: fadeout 1s;
  -moz-animation: fadeout 1s;
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 70px;
}

.aboutlogo-img {
  background: black;
  width: 100px;
  height: 60px;
  margin: auto;
}

.about_navbar:hover {
  transition: 1s;
  background: #fabe00;
}

.aboutnav-link {
  text-decoration: none;
  color: white;
}

.aboutnav-link:hover {
  color: gray;
}

@media only screen and (max-width: 768px) {
  .about_navbar {
    display: none;
  }
  .aboutnav-link {
    display: none;
  }
}
