* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 18px;
}

.navigation {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 120px;
  top: 0px;
  padding: 25px;
  display: flex;
  z-index: 10;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  width: 100%;
}

.nav_item,
.nav_brand {
  display: flex;
  width: auto;
  padding: 0px 25px;
  list-style-type: none;
}

.nav_link,
.navBar-brand {
  display: flex;
  width: 100%;
  cursor: pointer;
  color: white;
  font-family: Core Sans G;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  transition: all 0.5s ease-in-out;
}

.nav_link:hover {
  color: grey;
}

.nav_item_icon {
  position: absolute;
  cursor: pointer;
  color: white;
  /* top: 35px; */
  top: 50px;
  left: 7%;
  font-size: 26px;
  line-height: 26px;
  display: flex;
}

.logo {
  width: 216px;
  height: 100%;
}

.side_navBar {
  position: fixed;
  top: 0px;
  /* right: 0px; */
  left: 0px;
  background: #202020;
  /* border-left: 2px solid grey; */
  border-right: 2px solid grey;
  width: 0px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  z-index: 15;
  transition: all 0.2s ease-in-out;
  transform: scaleX(0);
}

.side_nav_item,
.side_nav_brand {
  width: 100%;
  cursor: pointer;
  color: white;
  font-family: Core Sans G;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  list-style-type: none;
  padding: 20px;
}

.side_nav_link,
.side_navBar-brand {
  text-align: center;
  display: block;
  width: 100%;
  font-family: Core Sans G;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  list-style-type: none;
}

.side_nav_link:hover {
  color: grey;
}

.side_nav_item_icon {
  z-index: 15;
  cursor: pointer;
  position: absolute;
  color: white;
  top: 50px;
  right: 10%;
  width: auto;
  height: auto;
  font-size: 26px;
  display: flex;
}

.expand {
  width: 35%;
  transform: scaleX(1);
}
.show {
  display: flex;
}

.hide {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav_item {
    display: none;
  }
  .expand {
    width: 80%;
    transform: scaleX(1);
  }
  .nav_item_icon {
    top: 35px;
  }
}
