.logo-img {
  width: 100px;
}

.commingsoon_navbar {
  transition: 0.5s;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  animation: fadeout 1s;
  -webkit-animation: fadeout 1s;
  -moz-animation: fadeout 1s;
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 100%;
  background: #000000;
}

.commingsoon_navbar:hover {
  transition: 1s;
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  font-family: Core Sans G;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 51px;
  text-align: center;
}

.comingSoon-img {
  width: 550px;
  height: 500px;
  margin: auto;
  margin-top: 100px;
}

.coming {
  color: #7bb1bc;
}

.soon {
  color: #f9be00;
}
