* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 18px;
}

.navigation {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 120px;
  top: 0px;
  padding: 25px;
  display: flex;
  z-index: 10;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  width: 100%;
}

.nav_item {
  display: flex;
  width: auto;
  padding: 0px 25px;
  list-style-type: none;
}

.nav_link,
.navBar-brand {
  display: flex;
  width: 100%;
  cursor: pointer;
  color: white;
  font-family: Core Sans G;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 26px;
}

.logo {
  width: 216px;
  height: 100%;
}
