.recentClients {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
}
.rC-title {
  padding: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.rC-desc {
  display: flex;
  flex-flow: row;
  padding: 50px;
  width: 100%;
  gap: 25px;
  height: 300px;
  margin: auto;
}
.rC-desc > img {
  width: 18%;
  height: 100%;
}
