* {
  margin: 0px;
  padding: 0px;
}

.letsConnect {
  width: 100%;
  min-height: 100vh;
  background: #000000;
  color: white;
  padding: 25px 5%;
}

.letsConnect-content {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
  padding-left: 1%;
  width: 100%;
}

.letsConnect-left {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.tabgroup {
  display: flex;
  flex-flow: row;
  z-index: 1;
  width: 100%;
  padding: 0px 2%;
}

.tab-links {
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0.6;
  background: black;
  color: white;
  border: 0;
  outline: 0;
  flex: 1;
}

.tab-links.active {
  border-bottom: 2px solid white;
  opacity: 1;
}

.tab-content {
  display: flex;
}

.tab-panel {
  width: 100%;
  display: flex;
}
.form {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 25px 5px;
}

.form-input {
  margin: 10px;
  padding: 10px 25px;
  font-size: 18px;
  background: transparent;
  color: white;
  border: 0px;
  border-bottom: 1px solid white;
}

.form-textarea-box {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.form-textarea {
  margin: 10px;
  padding: 10px 25px;
  font-size: 18px;
  background: transparent;
  color: white;
  border: 0px;
  border-bottom: 1px solid white;
}

.charcounter {
  z-index: 2;
  flex: 0;
  padding: 0px 20px;
  text-align: right;
  position: relative;
  top: -35px;
}

.resume {
  padding-left: 32px;
  font-size: 18px;
  color: grey;
}

#upload {
  padding: 10px;
  border: 0px;
}

.submit {
  margin-top: 15px;
  width: 120px;
  height: 50px;
  padding: 8px;
  border-radius: 25px;
  background: transparent;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid grey;
}

.submit:hover {
  background: #f9be00;
  color: black;
}

.letsConnect-right {
  width: 100%;
  height: auto;
  padding: 25px;
  margin-top: 250px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .letsConnect {
    width: 100%;
    padding: 20px 10px;
  }

  .letsConnect > .logo {
    padding: 0px 15px;
  }

  .letsConnect-content {
    padding: 5px 15px;
    display: grid;
    grid-template-columns: 100%;
  }

  .letsConnect-left {
    width: 100%;
    padding: 0px 5px;
  }

  .letsConnect-heading {
    width: 100%;
    padding: 0px 15px;
  }

  .letsConnect-heading > h1 {
    font-size: 28;
  }

  .letsConnect-heading > p {
    padding: 10px 0px;
  }

  .letsConnect-right {
    display: none;
  }

  .tabgroup {
    padding: 0px;
  }
  .tab-links {
    font-size: 18px;
    padding: 10px;
  }

  .form {
    padding: 25px 0px;
  }

  .form-input,
  .form-textarea {
    margin: 10px 0px;
  }

  .charcounter {
    padding: 0px 8px;
  }
}
